<div class="container my-5">

	<!-- Form -->
	<div class="row my-5">
		<h2 class="col"> Country : </h2>
		<%= form_tag root_path, method: :get, class: "col" do %>
			<%= select_tag :country, options_for_select(@countries), class: "custom-select", onchange: "this.form.submit();" %>
		<% end %>
	</div>
	<!-- ./Form -->

	<div class="row mb-5 mx-auto">
		<% if @selected_country %>
			<div> Selected country : <%= @selected_country.name %></div>
		<% end %>
	</div>

	<!-- Card deck -->
	<h2 class="mb-3">Summary</h2>
	<div class="card-deck text-center">
	  <div class="card">
	    <div class="card-body">
	      <h5 class="card-title text-uppercase">Revenue</h5>
	      <p class="card-text">
	      	<% if @orders.total_revenue_in_billions.truncate(1) == 0.0 %> 
	      		<%= @orders.total_revenue_in_thousands %> K€
	      	<% else %>
	      		<%= @orders.total_revenue_in_billions %> M€
	      	<% end %>
	      </p>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-body">
	      <h5 class="card-title text-uppercase">Average Revenue / Order</h5>
	      <p class="card-text"><%= @orders.average_revenue_per_order %> €</p>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-body">
	      <h5 class="card-title text-uppercase">Customers</h5>
	      <p class="card-text"><%= @orders.distinct_customers %></p>
	    </div>
	  </div>
	</div>
	<!-- ./Card deck -->

	<hr class="my-4">

	<!-- Graph -->
	<h2 class="mb-3">Revenue per month</h2>
	<div id="graph" class="container"></div>
	<!-- ./Graph -->

</div>
